.body {
  font-family: Arial, Helvetica, sans-serif;
}

.row input[type="search"] {
  background: white;
  border-radius: 8px;
  border: 1px solid lightgray;
  opacity: 0.5;
  margin: 30px 3px 15px 20px;
  padding: 15px 300px 15px 20px;
}
.row button {
  background: white;
  border-radius: 8px;
  border: 1px solid lightgray;
  margin: 30px 3px 10px 3px;
  padding: 15px 20px 15px 20px;
  color: rgba(206, 173, 166, 1);
}

.container {
  border: 2px solid lightgray;
  border-radius: 10px;
  padding: 15px 20px;
  margin: 0px 0px 30px 0px;
  background: rgb(206, 173, 166);
  background: linear-gradient(
    0deg,
    rgba(206, 173, 166, 1) 0%,
    rgba(151, 135, 164, 1) 55%,
    rgba(63, 101, 164, 1) 97%
  );
}

.currentWeather {
  border: 2px solid lightgray;
  border-radius: 10px;
  padding: 30px;
  margin: 0px 20px 30px 20px;
  background: white;
  box-shadow: 8px 8px gray;
}

.currentWeather h1 {
  font-size: 100px;
  font-weight: bold;
  color: rgba(206, 173, 166, 1);
  line-height: 50px;
  margin: 10px 0px 10px 0px;
}

.currentWeather p {
  color: rgba(206, 173, 166, 1);
  font-size: 12px;
}
#currentDate {
  font-size: 25px;
  font-weight: bold;
}

#forecastNames {
  color: lightgray;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
#nextDayIcon {
  max-width: 100%;
}
#nextDay2Icon {
  max-width: 100%;
}
#nextDay3Icon {
  max-width: 100%;
}
#nextDay4Icon {
  max-width: 100%;
}
#nextDay5Icon {
  max-width: 100%;
}
#nextDay6Icon {
  max-width: 100%;
}

#currentWeatherIcon {
  max-width: 100%;
}

#forecast {
  text-align: center;
  color: lightgray;
}

#weatherDescription {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: bold;
}

#temperature {
  font-size: 60px;
  font-weight: bold;
  display: inline;
  text-align: center;
}
#feelsLike {
  font-size: 20px;
  font-weight: bold;
  display: inline;
  text-align: center;
}
