.row input[type="text"] {
  background: lightgray;
  border-radius: 8px;
  border: 1px solid lightgray;
  opacity: 0.5;
  margin: 30px 3px 15px 3px;
  padding: 15px 160px 15px 20px;
}
.row button {
  background: lightgray;
  border-radius: 8px;
  border: 1px solid lightgray;
  margin: 30px 3px 10px 3px;
  padding: 15px 20px 15px 20px;
  text-emphasis-color: black;
}

.currentWeather {
  border: 2px solid lightgray;
  border-radius: 10px;
  padding: 15px 20px;
  margin: 0px 0px 30px 0px;
}
.currentWeather h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;
  font-weight: bold;
  color: lightgray;
}

.currentWeather p {
  font-family: Arial, Helvetica, sans-serif;
  color: lightgray;
  font-size: 12px;
}
#currentDate {
  font-size: 20px;
  font-weight: bold;
}

#forecastNames {
  font-family: Arial, Helvetica, sans-serif;
  color: lightgray;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
#nextDayIcon {
  max-width: 100%;
}
#nextDay2Icon {
  max-width: 100%;
}
#nextDay3Icon {
  max-width: 100%;
}
#nextDay4Icon {
  max-width: 100%;
}
#nextDay5Icon {
  max-width: 100%;
}
#nextDay6Icon {
  max-width: 100%;
}

#currentWeatherIcon {
  max-width: 100%;
}

#forecast {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: lightgray;
}

#weatherDescription {
  text-transform: capitalize;
  font-size: 18px;
}
